.item-card {
    width: 100%;
    height: auto;
    max-width: 350px;
    border-radius: 35px;
    box-shadow: 3px 4px 9px 5px #e2e2e2;
    transition: transform .8s;
}

.item-card:hover {
    transform: scale(1.05)
}